/* Importing the central color scheme */
@import '../../styles/colours/main_colours.css';

/* Loading Wrapper */
.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-background);
  color: var(--tertiary-text);
  font-size: clamp(1rem, 1.2rem, 1.4rem);
  height: 100vh;
}

/* Main card styling */
.detail-card {
  background-color: var(--primary-background);
  border-radius: 12px;
  border: 3px solid var(--primary-border);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 2rem auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: box-shadow 0.3s ease;
  max-width: clamp(300px, 800px, 100%);
}

.detail-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  border-color: var(--primary-border-hover);
}

/* Title section styling */
.title-section {
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, var(--title-background-start), var(--title-background-end));
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.title-section:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.title-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.2), transparent);
  opacity: 0.2;
  z-index: -1;
}

.detail-title {
  color: var(--title-text-color);
  font-size: clamp(1.8rem, 2rem, 2.2rem);
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

/* Hover effect for the title */
.detail-title:hover {
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  color: var(--title-text-hover-color);
}

/* Content section styling */
.detail-content {
  width: clamp(85%, 95%, 100%);
  background-color: var(--secondary-background);
  margin: 1rem auto;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

.detail-field {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  border-bottom: 1px solid var(--secondary-border);
  transition: background-color 0.3s ease;
}

.detail-field:hover {
  background-color: var(--secondary-hover);
}

/* More defined and unique label */
.detail-label {
  color: var(--primary-text);
  font-weight: 700;
  text-align: right;
  margin-right: 1.5rem;
  flex: 1;
  text-transform: uppercase;
}

.detail-value {
  color: var(--secondary-text);
  text-align: left;
  flex: 1;
  font-size: clamp(0.8rem, 0.9rem, 1rem);
}

