amqp==5.1.1
asgiref==3.6.0
async-timeout==4.0.2
beautifulsoup4==4.12.2
billiard==4.1.0
celery==5.3.1
click==8.1.4
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
contourpy==1.1.0
crispy-bootstrap4==2022.1
cycler==0.11.0
Django==4.2.1
django-crispy-forms==2.0
django-extensions==3.2.3
django-filter==23.2
django-tempus-dominus==5.1.2.17
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.2.2
exceptiongroup==1.1.1
fonttools==4.40.0
greenlet==2.0.2
iniconfig==2.0.0
joblib==1.3.1
kiwisolver==1.4.4
kombu==5.3.1
matplotlib==3.7.2
mlxtend==0.22.0
nltk==3.8.1
numpy==1.25.1
packaging==23.1
pandas==2.0.3
Pillow==9.5.0
pluggy==1.2.0
prompt-toolkit==3.0.39
PyJWT==1.7.1
pyparsing==3.0.9
pytest==7.4.0
pytest-django==4.5.2
python-dateutil==2.8.2
pytz==2023.3
redis==4.6.0
regex==2023.6.3
scikit-learn==1.3.0
scipy==1.11.1
six==1.16.0
soupsieve==2.4.1
SQLAlchemy==2.0.19
sqlparse==0.4.4
threadpoolctl==3.1.0
tomli==2.0.1
tqdm==4.65.0
typing_extensions==4.7.1
tzdata==2023.3
vine==5.0.0
wcwidth==0.2.6
