{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/analytics.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Expense Analytics</h1>
        <p>Total Expenses: ${{ total_expenses }}</p>
        <div class="row">
            <div class="col-lg">
                <div id="fetch-sticky-notes-url" data-url="{% url 'analytics:fetch_sticky_notes' %}"></div>
                <div id="user-id" data-user-id="{{ request.user.id }}"></div>
                <button id="save-button" class="btn btn-primary">Save Board</button>
                <button id="add-note-btn" class="btn btn-primary">Add Sticky Note</button>
                <select id="sticky-note-dropdown" class="form-control">
                    <!-- Options will be dynamically added using JavaScript -->
                </select>
                <label for="name">Name (4 to 15 characters):</label>
                <input type="text" id="sticky-note-given-note"
                       minlength="4" maxlength="15" size="10">
            </div>
        </div>

        <div class="sticky-notes">
            {% for title, sticky_note in sticky_notes.items %}
            <div class="sticky-note draggable" style="position: relative; left: {{ sticky_note.position_x }}px; top: {{ sticky_note.position_y }}px;">
                <h2>{{ title }}</h2>
                {% autoescape off %}
                    {{ sticky_note.content }}
                {% endautoescape %}
                <button class="delete-note-btn" data-given-title="{{ sticky_note.given_title }}" data-board-id="{{ board_id }}" data-sticky_note_id="{{ sticky_note.id }}">Delete Note</button>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/sticky_notes.js' %}"></script>
{% endblock %}
