{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <h2>Add Transaction</h2>

    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      {% if form.errors %}
      <div class="alert alert-danger">
        <strong>Error:</strong>
        <ul>
          {% for field_errors in form.errors %}
            {% for error in field_errors %}
              <li>{{ error_message }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
{% endblock %}
