{% if transactions.exists %}
    {% for transaction in transactions %}
    <tr class="parent-row">
        <td>
            <button class="btn btn-danger delete-transaction-btn" data-transaction-id="{{ transaction.id }}">Delete</button>
            <a class="btn btn-primary" href="{% url 'transactions:transaction_detail' transaction.id %}">View Details</a>
        </td>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.title }}</td>
        <td>{{ transaction.description }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.category }}</td>
    </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="6">No transactions found.</td>
    </tr>
{% endif %}