{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h1>Transaction Detail</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ transaction.title }}</h5>
        <p class="card-text">{{ transaction.description }}</p>
        <p class="card-text">Amount: {{ transaction.amount }}</p>
        <p class="card-text">Category: {{ transaction.category }}</p>
        <p class="card-text">Date: {{ transaction.date }}</p>
        
        {% if transaction.parent_transaction %}
          <a href="{% url 'transactions:transaction_detail' transaction.parent_transaction.id %}" class="btn btn-primary">Back to Parent Transaction</a>
        {% else %}
          <a href="{% url 'transactions:transaction_list' %}" class="btn btn-primary">Back to List</a>
        {% endif %}
      </div>
    </div>
    <tr>
      <td colspan="6">
          <button id="add-transaction-btn" class="btn btn-primary">Add Transaction</button>
          <div id="add-transaction-form" style="display: none;">
              <h3>Add Transaction</h3>
              <form id="addTransactionForm" method="POST" class="add-transaction-form">
                  {% csrf_token %}
                  {{ subtransaction_form.as_p }}
                  <button type="submit" class="btn btn-primary">Add</button>
              </form>
          </div>
      </td>
    </tr>
    {% if transactions %}
    <div class="table-responsive">
        <table class="table table-striped transactions-table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="sortable" data-sort-field="category">
                        <button type="button" class="btn btn-light header-button">
                            Actions <i class="fas fa-sort"></i>
                        </button>
                    </th>
                    <th scope="col" class="sortable" data-sort-field="date">
                        <button type="button" class="btn btn-light header-button">
                            Date <i class="fas fa-sort"></i>
                        </button>
                    </th>
                    <th scope="col" class="sortable" data-sort-field="title">
                        <button type="button" class="btn btn-light header-button">
                            Title <i class="fas fa-sort"></i>
                        </button>
                    </th>
                    <th scope="col" class="sortable" data-sort-field="description">
                        <button type="button" class="btn btn-light header-button">
                            Description <i class="fas fa-sort"></i>
                        </button>
                    </th>
                    <th scope="col" class="sortable" data-sort-field="amount">
                        <button type="button" class="btn btn-light header-button">
                            Amount <i class="fas fa-sort"></i>
                        </button>
                    </th>
                    <th scope="col" class="sortable" data-sort-field="category">
                        <button type="button" class="btn btn-light header-button">
                            Category <i class="fas fa-sort"></i>
                        </button>
                    </th>
                </tr>                
            </thead>
            <tbody id="transaction-table-body">
                {% csrf_token %}
                {% include 'transactions/transaction_table.html' %}
            </tbody>
        </table>
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/delete_transaction.js' %}"></script>
  <script src="{% static 'js/add_transaction.js' %}"></script>
{% endblock %}
