/* Importing the central color scheme */
@import '../../styles/colours/main_colours.css';

/* Actions section styling */
.detail-actions {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  max-width: 100%;
  background-color: var(--tertiary-background);
  border-radius: min(clamp(1vw, 1rem, 2vw), 2rem);
  padding: min(clamp(1vw, 2vw, 3vw), 3rem);
  box-shadow: 0 0.25vw 0.5vw var(--box-shadow);
  justify-items: center;
}

.detail-actions > * {
  max-width: calc(100% - min(4vw, 4rem));
}

/* Action wrapper styling */
.action-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: min(1vw, 1rem) 0;
}

/* Detail action button styling */
.detail-action {
  background-color: var(--primary-button-bg);
  color: var(--primary-button-text);
  border: none;
  border-radius: min(0.5vw, 0.5rem);
  padding: min(1vw, 1rem) min(2vw, 2rem);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.detail-action:hover {
  background-color: var(--primary-button-hover);
  transform: translateY(-min(0.1875vw, 0.1875rem));
}

/* Action form styling */
.detail-action-form {
  width: 100%;
  background-color: var(--secondary-background);
  padding: min(1.5vw, 1.5rem);
  border-radius: min(0.75vw, 0.75rem);
  box-shadow: 0 0.25vw 0.5vw var(--box-shadow);
}

.action-button {
  background-color: var(--primary-button-bg);
  color: var(--primary-button-text);
  border: none;
  border-radius: min(0.375vw, 0.375rem);
  padding: min(0.8vw, 0.8rem) min(1.6vw, 1.6rem);
  cursor: pointer;
  margin: min(0.7vw, 0.7rem);
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: var(--primary-button-hover);
}

/* Input styling */
.action-input {
  box-sizing: content-box;
  font-size: clamp(1rem, 1.2vw, 1.5rem); /* Increase font size */
  line-height: 1.2;
  padding: min(0.5vw, 0.5rem) min(0.8vw, 0.8rem);
  border: 2px solid var(--primary-border);
  border-radius: min(0.375vw, 0.375rem);
  margin: min(0.7vw, 0.7rem);
  width: calc(5rem - min(1.4vw, 1.4rem));
  overflow: auto;
  display: flex;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.action-input:focus {
  border-color: var(--primary-border-focus);
  box-shadow: 0 0 min(0.5vw, 0.5rem) var(--primary-border-focus);
}

/* Group wrapper and form styling */
.group-wrapper, .action-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: min(clamp(1vw, 1.5vw, 2vw), 2rem);
  padding: min(1.5vw, 1.5rem);
  border-radius: min(0.75vw, 0.75rem);
  box-shadow: 0 0.25vw 0.5vw var(--box-shadow);
  align-items: center;
}

/* Responsive design for large screens */
@media screen and (min-width: 1500px) {
  .action-input {
    font-size: calc(0.2rem + min(0.5vw, 0.5rem));
    padding: clamp(0.5rem, 0.8vw, 1rem); /* Increase padding */
  }
}

/* Responsive design for small screens */
@media screen and (max-width: 540px) {
  .action-input, .group-wrapper, .action-form{
    width: min(5rem, 80%);
  }
  .action-input {
    font-size: calc(0.4rem + min(0.5vw, 0.5rem));
    padding: clamp(0.5rem, 0.8vw, 1rem); /* Increase padding */
    margin: min(0.7vw, 0.7rem);
  }

  .group-wrapper {
    grid-template-columns: 1fr;
    display: block;
    margin: min(0.8vw, 0.8rem);
  }

  .action-form {
    grid-template-columns: 1fr;
    display: block;
  }
}
