@import '../colours/main_colours.css';

/* Base form styling */
.form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--primary-border);
  border-radius: 4px;
  background-color: var(--primary-background);
}

/* Adding some spacing between form groups for clarity */
.form-group {
  margin-bottom: 20px;
}

/* Label styling */
.form-label {
  display: block;
  margin-bottom: 10px;
  color: var(--primary-text);
  font-weight: bold;
}

/* Common input and textarea styling */
.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-border);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: var(--primary-focus);
  outline: none;
}

/* Button styling */
.form-button {
  padding: 10px 20px;
  background-color: var(--primary-button-bg);
  color: var(--primary-button-text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: var(--primary-button-hover);
}
