@import '../colours/main_colours.css';

/* List Container */
.list-container {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--secondary-background);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--box-shadow);
}

/* List Title */
.list-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  border-bottom: 3px solid var(--secondary-link);
  padding-bottom: 0.5rem;
  color: var(--secondary-text);
}

/* List Items Container */
.list-items {
  display: flex;
  flex-direction: column;
}

/* List Item */
.list-item {
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: var(--primary-background);
  border: 2px solid var(--secondary-border);
  border-radius: 8px;
  transition: all 0.2s;
}

.list-item:hover {
  border-color: var(--secondary-focus);
}

/* List Item Content */
.list-item-content {
  display: flex;
  flex-direction: column;
}

/* List Item Title Wrapper */
.list-item-title-wrapper {
  margin-bottom: 1rem;
}

/* List Item Title */
.list-item-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--secondary-text);
}

/* List Item Fields */
.list-item-fields {
  margin-bottom: 1rem;
}

/* List Item Paragraph Wrapper */
.list-item-paragraph-wrapper {
  background-color: var(--tertiary-background);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

/* List Item Paragraph */
.list-item-paragraph {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  color: var(--tertiary-text);
}

/* List Item Links */
.list-item-links {
  margin-top: 0.5rem;
}

/* List Item Link Wrapper */
.list-item-link-wrapper {
  margin-top: 0.2rem;
}

/* List Item Link */
.list-item-link {
  color: var(--secondary-link);
  text-decoration: none;
}

.list-item-link:hover {
  text-decoration: underline;
  color: var(--secondary-focus);
}
