{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h2>Dashboard</h2>

    <button id="add-transaction-btn" class="btn btn-primary">Add Transaction</button>

    <div id="add-transaction-form" style="display: none;">
      <h3>Add Transaction</h3>
      <form id="addTransactionForm" method="POST" class="add-transaction-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>

    <h3>Transactions</h3>
    <table class="table table-striped transactions-table table-hover">
      <thead>
        <tr>
          <th>Actions</th> <!-- New column for the delete button -->
          <th>Date</th>
          <th>Title</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
          <tr class="parent-row" data-transaction-id="{{ transaction.id }}">
            <td>
              <button class="btn btn-danger delete-transaction-btn" data-transaction-id="{{ transaction.id }}">Delete</button>
              <a class="btn btn-primary" href="{% url 'transactions:transaction_detail' transaction.id %}">View Details</a>
            </td>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.title }}</td>
            <td>{{ transaction.description}}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.category }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %} 

{% block scripts %}
<script src="{% static 'js/add_transaction.js' %}"></script>
<script src="{% static 'js/delete_transaction.js' %}"></script>
{% endblock %}