{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h2>Dashboard</h2>

    <button id="add-transaction-btn" class="btn btn-primary">Add Transaction</button>

    <div id="add-transaction-form" style="display: none;">
      <h3>Add Transaction</h3>
      <form id="addTransactionForm" method="POST" class="add-transaction-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>

    <h3>Transactions</h3>
    <table class="table table-striped transactions-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Amount</th>
          <th>Category</th>
          <th>Date</th>
          <th>Action</th> <!-- New column for the delete button -->
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
          <tr class="parent-row" data-transaction-id="{{ transaction.id }}">
            <td>{{ transaction.title }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.category }}</td>
            <td>{{ transaction.date }}</td>
            <td>
              <button class="btn btn-danger delete-transaction-btn" data-transaction-id="{{ transaction.id }}">Delete</button>
            </td>
          </tr>
          {% for child_transaction in transaction.sub_transactions.all %}
            <tr class="child-row" style="display: none;">
              <td>{{ child_transaction.title }}</td>
              <td>{{ child_transaction.amount }}</td>
              <td>{{ child_transaction.category }}</td>
              <td>{{ child_transaction.date }}</td>
              <td>
                <button class="btn btn-danger delete-transaction-btn" data-transaction-id="{{ child_transaction.id }}">Delete</button>
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" crossorigin="anonymous" />
  <script src="{% static 'js/add_transaction.js' %}"></script>
  <script src="{% static 'js/delete_transaction.js' %}"></script>
  <script src="{% static 'js/expand_transactions.js' %}"></script>
{% endblock %}
